<main>
  <aside>
    <button (click)="showItems(1)" class="filterButtons">
      Women's Clothing
    </button>
    <button (click)="showItems(2)" class="filterButtons">Men's Clothing</button>
    <button (click)="showItems(3)" class="filterButtons">Jewelery</button>
    <button (click)="showItems(4)" class="filterButtons">Electronics</button>
  </aside>
  <section>
    @if (currentFilter === 0) { @for (itemCard of data; track itemCard) {
    <div class="itemCard">
      <div class="topBox">
        <img src="{{ itemCard.image }}" alt="" />
      </div>
      <div class="bottomBox">
        <p class="itemDescription">{{ itemCard.title }}</p>
        <p class="priceTag">${{ itemCard.price }}</p>
        <p class="itemRating">
          <i class="fa-solid fa-star" style="color: #ffffff"></i>&nbsp;&nbsp;{{
            itemCard.rating.rate
          }}
        </p>
      </div>
    </div>
    } } @else if (currentFilter === 1) { @for (itemCard of womensClothingData;
    track itemCard) {
    <div class="itemCard">
      <div class="topBox">
        <img src="{{ itemCard.image }}" alt="" />
      </div>
      <div class="bottomBox">
        <p class="itemDescription">{{ itemCard.title }}</p>
        <p class="priceTag">${{ itemCard.price }}</p>
        <p class="itemRating">
          <i class="fa-solid fa-star" style="color: #ffffff"></i>&nbsp;&nbsp;{{
            itemCard.rating.rate
          }}
        </p>
      </div>
    </div>
    } } @else if (currentFilter === 2) { @for (itemCard of mensClothingData;
    track itemCard) {
    <div class="itemCard">
      <div class="topBox">
        <img src="{{ itemCard.image }}" alt="" />
      </div>
      <div class="bottomBox">
        <p class="itemDescription">{{ itemCard.title }}</p>
        <p class="priceTag">${{ itemCard.price }}</p>
        <p class="itemRating">
          <i class="fa-solid fa-star" style="color: #ffffff"></i>&nbsp;&nbsp;{{
            itemCard.rating.rate
          }}
        </p>
      </div>
    </div>
    } } @else if (currentFilter === 3) { @for (itemCard of jeweleryData; track
    itemCard) {
    <div class="itemCard">
      <div class="topBox">
        <img src="{{ itemCard.image }}" alt="" />
      </div>
      <div class="bottomBox">
        <p class="itemDescription">{{ itemCard.title }}</p>
        <p class="priceTag">${{ itemCard.price }}</p>
        <p class="itemRating">
          <i class="fa-solid fa-star" style="color: #ffffff"></i>&nbsp;&nbsp;{{
            itemCard.rating.rate
          }}
        </p>
      </div>
    </div>
    } } @else if (currentFilter === 4) { @for (itemCard of electronicsData;
    track itemCard) {
    <div class="itemCard">
      <div class="topBox">
        <img src="{{ itemCard.image }}" alt="" />
      </div>
      <div class="bottomBox">
        <p class="itemDescription">{{ itemCard.title }}</p>
        <p class="priceTag">${{ itemCard.price }}</p>
        <p class="itemRating">
          <i class="fa-solid fa-star" style="color: #ffffff"></i>&nbsp;&nbsp;{{
            itemCard.rating.rate
          }}
        </p>
      </div>
    </div>
    } }
  </section>
</main>
