<section>
  <div class="headerTitles">
    <h1>CART</h1>
    <h2>Ecommerce / Cart</h2>
  </div>
  <div class="leftRightDivider">
    <div class="orderedItemsCard">
      <div class="tableTitles">
        <h3>Product</h3>
        <h3>Product Desc</h3>
        <h3>Price</h3>
        <h3>Quantity</h3>
        <h3>Total</h3>
      </div>
      <div class="orderedItems">
        <div>product</div>
        <div>description</div>
        <div>price</div>
        <div>quantity</div>
        <div>total</div>
        <div>product</div>
        <div>description</div>
        <div>price</div>
        <div>quantity</div>
        <div>total</div>
        <div>product</div>
        <div>description</div>
        <div>price</div>
        <div>quantity</div>
        <div>total</div>
        <div>product</div>
        <div>description</div>
        <div>price</div>
        <div>quantity</div>
        <div>total</div>
        <div>product</div>
        <div>description</div>
        <div>price</div>
        <div>quantity</div>
        <div>total</div>
      </div>
      <div class="buttonsBox">
        <button class="continueShoppingButton">
          <i class="fa-solid fa-arrow-left" style="color: #ffffff"></i>
          &nbsp;&nbsp;Continue Shopping
        </button>
        <button class="checkoutButton">
          <i class="fa-solid fa-cart-arrow-down" style="color: #ffffff"></i>
          &nbsp;&nbsp;Checkout
        </button>
      </div>
    </div>
    <div class="cardDetailsCard">
      <div class="topDivider">
        <h3>Card Details</h3>
        <img src="/otherImages/creditCardMockImage.png" alt="card image visa" />
      </div>
      <div class="orderSummary">
        <h3>Order Summary</h3>
        <div></div>
        <p>Grand Total:</p>
        <p>$2163.50</p>
        <p>Discount:</p>
        <p>$2163.50</p>
        <p>Shipping Charge:</p>
        <p>$2163.50</p>
        <p>Estimated Tax (12.5%):</p>
        <p>$2163.50</p>
        <p>Total:</p>
        <p>$2163.50</p>
      </div>
    </div>
  </div>
</section>
